body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 50, 0.8),rgba(0,0,50,0.8)), url(image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: Left;
    width: 10cm;
}


.tick {
    text-align: center;
}


form {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#registrationSuccess {
    margin-top: 20px;
}

#PasswordSuccess {
    margin-top: 20px;
}
